version: '3'

services:
  sqlserver:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: azuresql
    restart: always
    environment:
    - "ACCEPT_EULA=1"
    - "MSSQL_SA_PASSWORD=Your_password123"
    ports:
      - "1433:1433"
