services:
  db:
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: s4f3_p4$$w0rd 
    image: mcr.microsoft.com/azure-sql-edge:1.0.4
    restart: always
    healthcheck:
        test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P s4f3_p4$$w0rd -Q 'SELECT 1' || exit 1"]
        interval: 10s
        retries: 10
        start_period: 10s
        timeout: 3s     
